<div class="item list-group-item col-xs-12 col-md-6">
    <div class="thumbnail">
        <div class="col-xs-2 item-photo">
            <img style="max-width:100%;" src="{{imageLink}}" />
        </div>      
        <div class="caption">
            <h4 class="group inner list-group-item-heading">
                {{name}}
            </h4>
            <p class="group inner list-group-item-text">
                {{description}}
            </p>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <p class="lead">
                        Price: {{price}}€
                    </p>
                </div>
                <div class="col-xs-12 col-md-6">
                    <a class="btn btn-info" (click)="onDetailsClick()">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>