<div class="container">
    <div class="row">
        <div class="col-xs-4 item-photo">
            <img style="max-width:100%;" src="{{imageLink}}" />
        </div>
        <div class="col-xs-5" style="border:0px solid gray">
            <h3>{{model.name}}</h3>

            
            <h6 class="title-price"><small>Price</small></h6>
            <h3 style="margin-top:0px;">{{model.price}}€</h3>

            <div class="section" style="padding-bottom:20px;">
                <h6 class="title-attr"><small>Quantity</small></h6>
                <div>
                    <input value="1"  />
                </div>
            </div>

            <div class="section" style="padding-bottom:20px;">
                <button class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to cart</button>
            </div>
        </div>

        <div class="col-xs-9">
            <div style="width:100%;border-top:1px solid silver">
                <p style="padding:15px;">
                    <small>
                       {{model.description}}
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>

